{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {# {% for item in getlist%}     to be removed     #}
    {% for item in view_model.items %}
		<li> {{item.id}} - {{item.title}} - {{item.status}} 
      {% if item.status == "Not Started"%}
      <form method="POST" action = "/complete">
        <input type="hidden" name="itemcomplete" value = "{{item.id}}"> 
        <input type="submit" value="Complete" class="btn btn-success">         
      </form>
      {%endif%}
    </li>
		{% endfor%}
	  </ul>
    </div>
  </div>


 <form method="POST">
 <div><label>Add New Item: <input type="text" name="itemname"></label> <input type="submit" value="Submit"></div>
 </form>


{% endblock %}